<div th:fragment="foot">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script h:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script th:src="@{/js/npm.js}" type="application/javascript"></script>
    <script th:src="@{/js/pageHandler.js}" type="application/javascript"></script>
    <script th:src="@{/js/toastr.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/ThreeCanvas.js}" type="application/javascript"></script>
    <script th:src="@{/js/Snow.js}" type="application/javascript"></script>
    <script th:src="@{/js/snowFall.js}" type="application/javascript"></script>
    <script th:inline="javascript">
        /* <![CDATA[*/
        $.snowFall({
            //创建粒子数量，密度
            particleNo: 500,
            //粒子下拉速度
            particleSpeed: 30,
            //粒子在垂直（Y轴）方向运动范围
            particleY_Range: 1300,
            //粒子在垂直（X轴）方向运动范围
            particleX_Range: 1000,
            //是否绑定鼠标事件
            bindMouse: false,
            //相机离Z轴原点距离
            zIndex: 600,
            //摄像机视野角度
            angle: 55,
            wind_weight: 0
        });
        /* ]]>*/
    </script>
</div>