.row_content {
    margin-top: 6em;
    width: 100%;
}


.btn_search {
    padding-top: 0.4em;
    background: #6d7070;
    width: 4em;
    height: 2.4em;
    border-radius: 0.35em;
    color: #fff;
}

.btn_search:hover {
    background: none;
    border: 1px solid #6d7070;
    color: #6d7070;
    transition: 0.4s ease;
}



.card_share {
    margin-top: 1em;
    margin-left: 1em;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.2em;
}

.badge {
    font-size: 0.9em;
}

.row_left {
    height: 5em;
    margin-bottom: 2em;
}

.text_p {
    margin-top: 0.5em;
}

.text {
    margin-left: 2em;
    color: #6d7070;
}

.list-group-item{
    border: none;
}

.form_search{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    width: 15em;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form_search:focus{
   transition: ease-in-out 0.15s;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.footer_top{
    float: right;
    margin-right: 8em;
}
.info{
    margin-left: 6em;

}
.col-md-4{
    margin-bottom: 2em;
}
.badge{
    float: right;
}

